---
# tasks file for roles/coolstore_eap7

- name: Apply OpenShift manifests
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) }}"
  loop:
    - 00-namespace.yaml
    - 01-postgresql-deploy-svc.yaml

- name: Create Keycloak realm import ConfigMap
  kubernetes.core.k8s:
    state: present
    namespace: "{{ ocp_namespace }}"
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: keycloak-realm
      data:
        realm-export.json: >-
          {{ lookup('file', role_path + '/files/realm-export.json') | to_json }}

- name: Apply OpenShift manifests
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) }}"
  loop:
    - 02-keyclaok-deploy-svc-route.yaml
    - 03-keycloak-job.yaml
   #- 04-coolstore.yaml
