---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: keycloak-rhel9
  namespace: coolstore-mono
spec:
  tags:
    - name: "22"
      from:
        kind: DockerImage
        name: registry.redhat.io/rhbk/keycloak-rhel9:22
      importPolicy:
        scheduled: true
      referencePolicy:
        type: Local
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: coolstore-mono
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: image-registry.openshift-image-registry.svc:5000/coolstore-mono/keycloak-rhel9:22
          args:
            - start-dev
            - --import-realm
          env:
            - name: KEYCLOAK_ADMIN
              value: admin
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: admin
            - name: KC_PROXY
              value: edge
            - name: KC_HOSTNAME
              value: keycloak-coolstore-mono.apps.cluster-{{ guid }}.dynamic.redhatworkshops.io
            - name: KC_HOSTNAME_STRICT
              value: "false"
            - name: KC_HTTP_ENABLED
              value: "true"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: realm-import
              mountPath: /opt/keycloak/data/import
      volumes:
        - name: realm-import
          configMap:
            name: keycloak-realm
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: coolstore-mono
spec:
  selector:
    app: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: keycloak
  namespace: coolstore-mono
spec:
  to:
    kind: Service
    name: keycloak
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
...
